/* pagina de eventos */
/* título */
.titulo {
  font-weight: bold;
  text-align: center;
  font-size: 28px;

  margin: 70px 0px 80px;
}
body {
  outline: none;
}
/* campos input do formulário */
#nome_evento,
#data,
#descricao {
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 5px;
  background-color: #e1e1e1;
  padding: 4px;
}
/*textarea*/
#descricao {
  width: 250px;
  height: 80px;
}

/* tabela do formulário */
.bt-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px 90px;
}
#tab_cadastro,
.table {
  display: flex;
  justify-content: center;
}

/* botão - cadastrar */
#botao_cad {
  width: 150px;
  height: 30px;
  background-color: #364e73;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-size: 12pt;
  cursor: pointer;
}
#botao_cad:hover {
  background: #22334d;
  box-shadow: #22334d;
  text-shadow: none;
}

/* tabela */
#evento {
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  width: 20vw;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table th {
  background-color: #2d4364;
  color: white;
}

.sair {
  padding: 10px 17px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  
}

.sair {
  background-color:black;
  color: white;
  border: none;
}

.sair:hover {
  background-color: red;
  color: white;
}

