/* //////////////// cadastro de colaboradores ////////////// */

/* título */
.titulo {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 28px;

  margin-top: 80px;
}

body {
  outline: none;
  font-family: sans-serif;
}
label {
  font-size: 12pt;
  display: inline-block;
  border: none;
  vertical-align: middle;
}

/* campos input do formulário */
#nome,
#cpf,
#matricula,
#funcao,
#posto_trabalho,
#admissao,
#email,
#telefone {
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 5px;
  background-color: #e1e1e1;
  padding: 4px;
}

/* botao - tipo de cobertura */
.radio {
  height: 35px;
  width: 200px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  padding-top: 10px;
  margin-top: -1px;
  vertical-align: middle;
  text-align: center;
}

/* tabela do formulário */
table#tab_lista {
  height: 250px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 100px;
  border-collapse: collapse;
  box-shadow: 5px 5px 2.5px #888888;
  border: 1px solid #000000;
}

table#tab_lista td,
tr {
  border: 1px solid #e9e9e9;
}

#tab_cadastro {
  height: 250px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 80px;
  vertical-align: middle;
}

/* botão - cadastrar */
.bt-container {
  text-align: center;
}

#botao_cad {
  width: 150px;
  height: 30px;
  background-color: #364e73;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12pt;
  cursor: pointer;
}

#botao_cad:hover {
  background: #22334d;
  box-shadow: #22334d;
  text-shadow: none;
}

.sair {
  padding: 10px 17px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  
}

.sair {
  background-color:black;
  color: white;
  border: none;
}

.sair:hover {
  background-color: red;
  color: white;
}

