<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
	    <link rel="shortcut icon" href="./img/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home.css') }}">
        <script src="{{url_for('static', filename='script/script.js')}}" defer> </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="../static/img/logo.svg" alt="Logo">
                <p>Logo</p>  
            </div>
            <div class="login">
             
                <div class="user">
                    <p>{{session.username}}</p>
                    <p class="user-perfil">{{session.nivel}}</p> 
                </div>
                <a href="{{url_for('logout')}}"><button class="sair">Sair</button></a>
            </div>
        </header>
        <div class="container">
            <div class="menu">
                <nav>
                    <a href="{{url_for('index')}}" id="select">Home</a>
                    
                    <button class="dropdown-btn">
                        Quadro de controle
                        <img src="../static/img/seta-menuFechado.svg" alt="seta pra cima">
                    </button>
                    <div class="dropdown-container">
                        <a href="{{url_for('quadro_cliente')}}">Quadro de clientes</a>
                        <a href="{{url_for('quadro_colaborador')}}">Quadro de colaborador</a>
                        <a href="{{url_for('postos_trabalho')}}">Posto de trabalho</a>
                    </div>
                    <a href="{{url_for('controle')}}">Controle de Presença</a>
                    <a href="{{url_for('evento')}}">Eventos</a>
                    <a href="{{url_for('quadro_contrato')}}">Contratos</a>
                    <a href="{{url_for('presenca_tatico')}}">Autorização</a>
                    <a href="{{url_for('cadastro_usuario')}}">Cadastro de Usuario</a>
                </nav>
            </div>
        <section>
            <div class="error">
                <img  src="../static/img/error_401.jpg" alt="error">
                <button class="btn-back">
                    <a href="{{url_for('index')}}">Retornar para Home</a>
                    
                </button>
            </div>
            
        </section>
     
    </body>
</html>